body {
    background: #914CE0;
    min-height: 100vh;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10%;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px;
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding: 5px;
}
@media screen and (max-width) {

}
video {
    margin-top: 30px;
}
